# Ignore everything in the target directory
target/*

# But do not ignore the .jar files in the target directory
!target/*.jar

# You can also exclude files like Maven wrapper or IDE-specific files if needed
!.mvn/wrapper/maven-wrapper.jar

### Ignore IDE specific files ###
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/